## 텍스트 로 추가 
## 문법은 md 문법 완전 쉬움!   [여기](https://www.youtube.com/watch?v=kMEb_BzyUqk) 참고
- sdsds
- 쨋든 여기다 메모 가능합니다 
- 수식도 지원해요 (tex 문법)
- readme.md 
$f(x) = ax+b$

In [ ]:
print("Hello!")

Hello!

## 쉬프트+엔터는 셀실행 + 아래 셀 선택

주피터 노트북 치트 시트 (cheat sheet) 라고 검색하시면 

더 많은 단축명령어 볼 수 있음!!!

In [ ]:
a=5
a

5

In [ ]:
a +=1 
a
# a++ 안됨..

13

In [ ]:
a=6

In [ ]:
a=10

## 여러가지 패키지 이미 설치되어있음
## 리스트를 한번 보자 !pip list

In [ ]:
!pip list

In [ ]:
import pandas as pd
import numpy as np
from tensorflow.keras import Sequential
import tensorflow as tf

In [ ]:
tf.__version__

'2.4.0'

In [ ]:
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [ ]:
arr.mean()

2.5

## 데이터 불러오기

In [ ]:
!ls

sample_data

In [ ]:
data = pd.read_csv("sample_data/california_housing_train.csv")
data

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
data.describe()

          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]

## data 는 pandas 객체
## 데이터 다룰때 많이 사용함

In [ ]:
data.

## 잊어버린 파이썬 문법....

In [ ]:
for i in range(5):
  print("hello!",i)

hello! 0
hello! 1
hello! 2
hello! 3
hello! 4

In [ ]:
arr = [1,2,3,4]
for data in arr:
  print(data)

1
2
3
4

In [ ]:
arr = [i**2 for i in range(1,10)] # 리스트 컴프리헨션
arr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
for data in arr:
  print(data)

1
4
9
16
25
36
49
64
81

## 정리

간단한 조건 반복 자료형 등을 알면 

- 점프 투 파이썬 
- 파이썬 코딩 도장

으로 모르는 것이 나왔을때 마다 그때 찾아보기

알아둬야 할 것 

1. 조건,반복문 

2. 파이썬 리스트 자료형의 이해 
> 리스트 메소드,arr.sort() 등, 리스트 인덱싱,슬라이싱 등등 

3. 클래스... <br>( pandas.함수() numpy.값  이런게 왜 이렇게 쓰이나 알아보고 싶을때) 

4. import.. as xxx ,from ~ import ~ 의 관계?

5. 파일 입출력 ( numpy 혹은 pandas 로 파일 불러오기)